@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply antialiased scroll-smooth text-content-title;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #eceef0;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 50px;
  background: #2c68f4;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
}
